.card_container {
  height: 446px;
  width: 285px;
  margin: 10px;

  .hover_div {
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #3a3a3a;
    z-index: 2;

    opacity: 1;
    &:hover {
      opacity: 0.3;
    }
  }
}

.image_container {
  height: 70%;
  width: 100%;
  padding: 0;
  img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
}

.info_container {
  background-color: #f4f5f7;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  p {
    font-family: Poppins;
    margin: 0;
    padding: 0;
  }
}
